/*.code-workspace
/Project/Project/Project/MDK_Project/Obj
/Project/Project/Project/MDK_Project/*.lst
/Project/Project/Project/MDK_Project/*.txt
/Project/Project/Project/MDK_Project/*.ini
/Project/Project/Project/MDK_Project/*.map
/Project/Project/Project/MDK_Project/*.19033292
/Project/Project/Project/MDK_Project/*.bak
/Project/Project/Project/MDK_Project/*.dep
